App {
   background-color: rgb(202, 202, 169);
}
button {
   font-size: 17px;
   padding: 7px 10px;
}
.deleteBtn:hover {
   cursor: pointer;
   border-radius: 4px;
   color: white;
   background-color: rgba(238, 49, 49, 0.829);
   font-weight: 900;
}
